<div class="row justify-content-between">
  <div class="col-md-3">
    <div class="actions left">
      <a class="btn btn-cancel" href="javascript:;" onclick="LMY.Form.cancel()">Cancelar</a>
    </div>
  </div>
  <div class="col-md-3">
    <div class="actions right">
      <button class="btn btn-primary" type="button" onclick="LMY.Form.submit()">Salvar</a>
    </div>
  </div>
</div>